{
	"presets": ["next/babel"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"@styles": "styles",
					"@assets": "src/assets",
					"@public": "public",
					"@components": "src/components"
				}
			}
		],
	],

}
