{
	"presets": ["next/babel"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"@styles": "./styles",
					"@public": "./public",
					"@assets": "./src/assets",
					"@components": "./src/components"
				}
			}
		],
	],

}
