.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 650px;
  min-height: 380px;
  padding: 50px 80px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(1, 2, 2, 0.2);
  border-radius: 2px;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 45px;
  height: 45px;
  background-image: url("https://image.flaticon.com/icons/png/512/64/64146.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.1s linear;
}

.closeBtn:hover {
  transform: rotate(90deg);
}

.modalTitle {
  margin-bottom: 15px;
  color: #2a2a2a;
  font-size: 30px;
  font-weight: 600;
  line-height: 42px;
  text-transform: uppercase;
}

.modalText {
  margin-bottom: 15px;
  color: #676767;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}
